<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippet - Home</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header id="siteHeader">
        <div class="mainHeader">
          <h1 id="title">Code Snippet</h1>

          <div class="subHeader">
            <h4 id="welcome">Welcome, {{user.name}}</h4>
            <a href="/logout">Log out</a>
          </div>

        </div>
      </header>

      <section class="globalSearchBar">

        <form action="/search/globalresults" method="post">
          <input id="globalSearch" type="text" name="search" value="" placeholder="Search entire database for code snippets">
          <button>Search</button>
        </form>

      </section>

      <section class="userSnippets">

        <div class="userSnippetsHeader">
          <h2>Your Snippets</h2>
          <a href="/createsnippet/new">Create a code snippet!</a>
        </div>
        
        <form action="/search/userresults" method="post">
          <input id="userSearch" type="text" name="search" value="" placeholder="Search your snippets by language or tag">
          <button>Search</button>
        </form>

        <table border="1">
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th>Optional Notes</th>
            <th>Language</th>
            <th>Tags</th>
          </tr>
          {{#snippets}}
          <tr>
            <td><a href="/search/{{title}}">{{title}}</a></td>
            <td>{{body}}</td>
            <td>{{optionalNotes}}</td>
            <td>{{language}}</td>
            <td>{{tags}}</td>
            <td><a href="/deleteSnippet/?id={{_id}}">X</a></td>
          </tr>
          {{/snippets}}

        </table>
      </section>

    </div>
  </body>
</html>
