<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippet - Home</title>
  </head>
  <body>
    <h1>Welcome, {{user.name}}</h1>

    <a href="/createsnippet/new">Create a code snippet!</a><br />
    <a href="/logout">Log out</a>

    <h3>Global Search</h3>
    <form action="/search/globalresults" method="post">
      <input type="text" name="search" value="" placeholder="Search entire database for code snippets">
      <button>Search</button>
    </form>

    <h2>Your Snippets</h2>

    <form action="/search/userresults" method="post">
      <input type="text" name="search" value="" placeholder="Search by language or tag">
      <button>Search</button>
    </form>

    <table border="1">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Optional Notes</th>
        <th>Language</th>
        <th>Tags</th>
      </tr>
      {{#snippets}}
      <tr>
        <td><a href="/search/{{title}}">{{title}}</a></td>
        <td>{{body}}</td>
        <td>{{optionalNotes}}</td>
        <td>{{language}}</td>
        <td>{{tags}}</td>
        <td><a href="/deleteSnippet/?id={{_id}}">Delete</a></td>
      </tr>
      {{/snippets}}

    </table>


  </body>
</html>
